html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}
.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ' '; clear: both; height: 0; }
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.visuallyhidden:not(:focus):not(:active) { position: absolute; width: 1px; height: 1px; margin: -1px;border: 0;padding: 0;white-space: nowrap;clip-path: inset(100%);clip: rect(00 0 0);overflow: hidden;}

:root {
  --accentColor: #fdc800;
  --blackShade: #232323;
  --whiteShade: #f8f8f8;
  --backgroundColor: #eaedf4;
}

/* 
font-family: 'Cabin', sans-serif;
font-family: 'Great Vibes', cursive;
*/

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

img {
  max-width: 100%;
  display: block;
}

.wrapper {
  max-width: 1280px;
  width: 80%;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .wrapper {
    width: 90%;
  }
}

a {
  font-family: 'Cabin', sans-serif;
  font-size: 1.8rem;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
}

p {
  font-family: 'Cabin', sans-serif;
  font-size: 1.8rem;
  line-height: 1.61;
}

.btn {
  font-family: 'Cabin', sans-serif;
  font-size: 1.8rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  border: none;
  padding: 15px 35px;
  transition: all 0.5s;
  background: var(--accentColor);
  color: var(--blackShade);
  text-decoration: none;
  cursor: pointer;  
}

.btn:hover {
  color: var(--accentColor);
  background: var(--blackShade);
}

/* HEADER */

header {
  min-height: 100vh;
  background: url(../assets/image-1.png) center;
  background-size: cover;
}

nav h2, .mainNav {
  margin-top: 15px;
  margin-bottom: 0;
}

nav h2 {
  float: left;
  font-size: 5.5rem;
  color: var(--blackShade);
  font-weight: 400;
  font-family: 'Great Vibes', cursive;
}

.mainNav {
  float: right;
  list-style: none;
  padding: 0;
}

.mainNav li {
  float: left;
  font-size: 2rem;
  margin-left: 40px;
  padding: 22px 0;
}

.mainNav li:first-child {
  margin: 0;
}

nav a:hover {
  color: var(--accentColor);
  transition: all 0.5s;
}

.mobileMenu {
  display: none;
  font-size: 3rem;
}

nav a {
  color: var(--blackShade);
  margin: 20px 0;
}

header h1 {
  font-size: 3.2rem;
  font-family: 'Cabin', sans-serif;
  text-transform: uppercase;
  text-align: center;
  margin-top: 25vh;
  margin-bottom: 0;
}

header h1 span {
  font-size: 15.5rem;
  font-family: 'Great Vibes', cursive;
  text-transform: capitalize;
  display: block;
  font-weight: 400;
}

header h1 span::after {
  content: '...';
}

.socialNav {
  list-style: none;
  padding: 0;
  position: absolute;
  top: 35vh;
  right: 30px;
}

.socialNav li {
  width: 100px;
  text-align: center;
  margin-bottom: 15px;
}

.socialNav li:last-child {
  margin-bottom: 0;
}

.socialNav a {
  font-size: 2rem;
  color: var(--accentColor);
}

.socialNav i:hover {
  text-shadow: 0 0 20px var(--blackShade);
}

@media (max-width: 768px) {
  nav li {
    display: none;
  }
  nav li:last-child {
    display: block;
    padding: 12px 0 0 0;
  }
  .socialNav {
    display: none;
  }
}

@media (max-width: 500px) {
  header h1 span {
    font-size: 12rem;
  }
}

@media (max-width: 400px) {
  nav h2 {
    font-size: 4rem;
  }
  header h1 {
    font-size: 2.2rem;
  }
}

@media (max-width: 350px) {
  header h1 span {
    font-size: 10rem;
  }
}

/* ABOUT */

.about {
  background: var(--backgroundColor);
  padding: 100px 0;
}

.innerWrapper {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

.about h2 {
  font-family: 'Great Vibes', cursive;
  font-size: 4.2rem;
  margin: 0;
  font-weight: 400;
}

.about p {
  margin: 30px 0;
}

@media (max-width: 768px) {
  .about {
    padding: 75px 0;
  }
}

@media (max-width: 400px) {
  .about {
    padding: 50px 0;
  }
  .innerWrapper {
    width: 90%;
  }
  .about p {
    margin-top: 15px;
  }
}

/* LINKS */

.links {
  background: var(--blackShade);
  padding: 100px 0;
  height: 300px;
}

.links ul {
  list-style: none;
  padding: 0;
  width: 50%;
  margin: 0 auto;
}

.links li {
  float: left;
  width: 33.33%;
  text-align: center;
  height: 100px;
  position: relative;
}

.links a {
  color: var(--whiteShade);
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.5s;
}

.links li:hover a {
  color: var(--accentColor);
}

.links i, .links h3 {
  font-size: 2.4rem;
  margin: 0;
  position: absolute;
}

.links i {
  top: 0;
  left: 0;
  right: 0;
}

.links h3 {
  bottom: 0;
  left: 0;
  right: 0;
}

.links i {
  font-size: 4rem;
  line-height: 0.65;
  object-fit: contain;
}

@media (max-width: 768px) {
  .links {
    padding: 75px 0;
    height: auto;
  }
  .links ul {
    width: 90%;
  }
}

@media (max-width: 400px) {
  .links {
    padding: 50px 0;
  }
  .links li {
    float: none;
    width: 100%;
    margin-bottom: 50px;
  }
  .links li:last-child {
    margin-bottom: 0;
  }
}

/* GALLERY */

.gallery {
  background: var(--whiteShade);
  padding: 100px 0;
}

.gallery figure {
  float: left;
  width: calc((100% - 80px) / 3);
  margin: 0 40px 0 0;
  position: relative;
}

.gallery figure:last-child {
  margin: 0;
}

@media (max-width: 768px) {
  .gallery {
    padding: 75px 0;
  }
  .gallery figure {
    width: calc((100% - 40px) / 3);
    margin: 0 20px 0 0;
  }
}

@media (max-width: 400px) {
  .gallery {
    padding: 0;
  }
  .gallery .wrapper {
    width: 100%;
  }
  .gallery figure {
    margin: 0;
    width: 50%;
  }
  .gallery figure:last-child {
    display: none;
  }
}

/* BLOG */

.blogFloatItem {
  background: var(--backgroundColor);
}

.blogFloatItemTop img, .blogFloatItemBottom img {
  float: right;
  width: 50%;
}

.blogFloatItemBottom img {
  float: left;
}

.blogFloatItem .innerWrapper {
  width: 50%;
  margin: 0;
  float: left;
}

.blogFloatItemBottom .innerWrapper {
  float: right;
}

.contentWrapper {
  text-align: center;
  width: 50%;
  margin-top: 10%;
}

.blogFloatItemTop .contentWrapper {
  float: right;
  margin-right: 15%;
}

.blogFloatItemBottom .contentWrapper {
  float: left;
  margin-left: 15%;
}

.contentWrapper p {
  margin: 30px auto;
}

.contentWrapper h2 {
  font-size: 3.2rem;
  font-family: 'Cabin', sans-serif;
  text-transform: uppercase;
  margin: 0;
}

@media (max-width: 1130px) {
  .blogFloatItemTop .contentWrapper, .blogFloatItemBottom .contentWrapper {
    width: 75%;
  }
}

@media (max-width: 1000px) {
  .blogFloatItemTop .contentWrapper, .blogFloatItemBottom .contentWrapper {
    margin: 5px 0 0 0;
    padding: 5px;
    width: 100%;
    float: none;
  }

  .contentWrapper p {
    margin: 15px 0;
  }
}

@media (max-width: 768px) {
  .blogFloatItemTop img, .blogFloatItemBottom img, .blogFloatItemTop .innerWrapper, .blogFloatItemBottom .innerWrapper {
    float: none;
    width: 100%;
  }
  .blogFloatItemTop .contentWrapper, .blogFloatItemBottom .contentWrapper {
    padding: 75px 0;
    width: 75%;
    margin: 0 auto;
  }
  .contentWrapper p {
    margin: 30px 0;
  }
}

@media (max-width: 400px) {
  .blogFloatItemTop .contentWrapper, .blogFloatItemBottom .contentWrapper {
    padding: 50px 0;
  }
}

/* BIO */

.bio {
  clear: both;
  padding: 100px 0;
  background: var(--whiteShade);
}

.bioContainer img, .bioContainer div {
  float: left;
}

.bioContainer img {
  width: 30%;
  border-radius: 50%;
}

.bioContainer div {
  width: calc(70% - 50px);
  margin-left: 50px;
}

.bio h2 {
  font-family: 'Great Vibes', cursive;
  font-weight: 400;
  font-size: 4.2rem;
  color: var(--blackShade);
  margin: 0;
}

.bio p {
  margin: 30px 0;
}

@media (max-width: 768px) {
  .bio {
    padding: 75px 0;
  }
  .bioContainer img, .bioContainer div {
    float: none;
  }
  .bioContainer img {
    width: 50%;
    margin: 0 auto 50px auto;
  }
  .bioContainer div {
    width: 100%;
    text-align: center;
    margin: 0;
  }
  .bioContainer div p {
    text-align: left;
  }
}

@media (max-width: 400px) {
  .bio {
    padding: 50px 0;
  }
  .bio .wrapper {
    width: 100%;
  }
  .bioContainer img {
    margin: 0 auto;
  }
  .bioContainer h2 {
    margin: 30px 0;
  }
  .bioContainer p {
    width: 90%;
    margin: 0 auto 30px auto;
  }
}

/* FOOTER */

footer, footer a {
  background: var(--blackShade);
  color: var(--whiteShade);
}

footer a {
  text-transform: none;
}

.footerContainer {
  padding: 100px 0;
}

.footerContainer h3 {
  font-size: 2.4rem;
  font-family: 'Cabin', sans-serif;
  text-transform: uppercase;
  margin-top: 0;
}

.footerContainer a {
  font-weight: 400;
  line-height: 1.61;
}

.footerContainer ul {
  list-style: none;
  padding: 0;
}

.footerSubscribeForm {
  float: right;
}

.footerContact, .footerPages, .footerRecentPosts {
  float: left;
}

.footerContact, .footerPages {
  width: calc(15% - 15px);
  margin-right: 15px;
}

.footerContact a {
  display: block;
}

.footerContact li {
  margin: 0;
  padding: 0;
}

.footerPages a {
  text-transform: uppercase;
}

.footerRecentPosts {
  width: calc(20% - 50px);
  margin-right: 50px;
}

.footerRecentPosts ul {
  width: 90%;
}

.footerSubscribeForm {
  width: 50%;
}

.footerSubscribeForm p {
  margin: 10px 0;
}

.footerSubscribeForm input[type="email"] {
  float: left;
  width: calc(100% - 160px);
  font-family: 'Cabin', sans-serif;
  font-size: 1.8rem;
  color: var(--blackShade);
  line-height: 1.61;
  padding: 10px 30px;
  height: 50px;
  border: none;

}

.footerSubscribeForm input[type="submit"] {
  float: left;
  width: 160px;
  height: 50px;
  font-family: 'Cabin', sans-serif;
  font-size: 1.8rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  border: none;
  padding: 15px 35px;
  transition: all 0.5s;
  background: var(--accentColor);
  color: var(--blackShade);
  text-decoration: none;
  cursor: pointer;
}

.footerCopyright, .footerCopyright a {
  background: black;
  text-align: center;
}

.footerCopyright p, .footerCopyright a {
  color:rgba(248,248,248,0.5);
}

.footerCopyright p {
  margin: 0;
  padding: 10px;
}

.footerCopyright a {
  font-weight: 400;
}

.footerContact a:hover, .footerPages a:hover, .footerRecentPosts a:hover, .footerCopyright a:hover {
  color: var(--accentColor);
  transition: all 0.5s;
  line-height: 1.61;
}

@media (max-width: 1000px) {
  .footerRecentPosts {
    display: none;
  }
  .footerContact, .footerPages {
    width: calc(25% - 15px);
    margin-right: 15px;
  }
  .footerSubscribeForm input[type="email"] {
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
  }
  .footerSubscribeForm input[type="email"]::placeholder {
    text-align: center;
  }
  .footerSubscribeForm input[type="submit"] {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .footerContainer {
    padding: 75px 0;
  }
  .footerContact, .footerPages, .footerSubscribeForm {
    float: none;
    width: 100%;
    text-align: center;
  }
  .footerSubscribeForm {
    width: 75%;
    margin: 0 auto;
  }
  .footerContact, .footerPages {
    margin-top: 30px;
  }
  .footerContact a {
    float: left;
    width: 50%;
    text-align: right;
    padding: 0 5px;
  }
  .footerContact a:first-child::after {
    content: ",";
  }
  .footerContact a:nth-child(2) {
    text-align: left;
  }
  .footerContact a:last-child {
    clear: both;
    width: 100%;
    text-align: center;
  }
  .footerPages a {
    float: left;
    width: 25%;
    position: relative;
  }
  .footerPages li:nth-child(3) a {
    width: 20%;
  }
  .footerPages li:nth-child(4) a {
    width: 30%;
  }
  .footerPages a::after {
    content: "|";
    position: absolute;
    right: 0;
    color: var(--whiteShade);
  }
  .footerPages li:last-child a::after {
    content: "";
  }
  .footerPages ul {
    width: 75%;
    margin: 0 auto;
  }
}

@media (max-width: 400px) {
  .footerContainer {
    padding: 50px 0;
  }
  .footerSubscribeForm {
    width: 100%;
  }
  .footerPages ul {
    width: 100%;
  }
  footer h3 {
    margin-bottom: 10px;
  }
}